body{
   background-image: url("./images/fondo_r_y_m.png");
   background-attachment: fixed;
   background-position: center;
}
.App {
   
   width: 90%;
   background-size: 100%;
   margin:auto;


   display: grid;
   grid-template-rows: 1fr auto;
	gap: 20px;
   padding: 25px;
}
.contenedor{
   max-width: 800px;
	margin: auto;
	/*padding: 40px 0; */

	/* ****** con css grid ****** */
	display: grid;
   grid-template-rows: 1fr auto;
	gap: 20px;
   padding: '25px' 
}

.contenedor-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
   }


.navBar{
   width: 100%;
   text-align: right;
}